.boutique .am-slides li {
    height: 20%;
    margin-right: 0.7% !important;
}

.img-name {
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    line-height: 70px;
}

/*#commodityLsit > li, #commodityXisMenu > li {
    border-bottom: 10px solid #eee;
    background: #fff;
}*/

/*#commodityXisMenu {
    border-top: 10px solid #eee;
    border-bottom: 9px solid #eee;
}*/

.am-gallery-bordered .am-gallery-desc {
    margin: 0 5%;
    margin-top: 10px;
}

.am-gallery-bordered .am-gallery-desc hr {
    border-top: 1px dashed #cfd2cf;
}

.boutique .am-slides .am-slider-desc {
    height: 30px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.am-slider-default {
    margin-bottom: 5px;
}

.header {
    position: relative;
}

.am-panel .am-panel-bd {
    font-size: 30px;
}

.am-img-thumbnail {
    width: 100px;
    height: 100px;
}

.am-gallery-item a > h3 {
    margin: 0 5%;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    letter-spacing: 1px;
    width: 60%;
    float: left;
}

.am-gallery-item a {
    color: #e65c5c;
    line-height: 50px;
}

.am-gallery-item a span {
    display: inline-block;
    float: right;
    margin-right: 5%;
    width: 25%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: right;
}

.products img {
    height: 65%;
}

.products .swiper-slide {
    width: 85% !important;
    margin-right: 3%;
}

/*#commodityLsit .am-gallery-item,#commodityXisMenu .am-gallery-item{
    padding: 1px 10px;
}*/
#commodityLsit .am-gallery-item a > h3{
    margin: 0 2%;
}
.am-gallery-bordered .am-gallery-item img {
    height: 30%;
    max-height: 280px;
}
#commodityXisMenu .am-gallery-item img{
    min-height: 250px;
}

.nav-menu {
    color: #a7a4a4;
}

.am-modal-loading .am-icon-spin {
    font-size: 16px;
    display: block;
    margin-bottom: 20px;
}

.am-modal-dialog {
    padding: 50px;
}
.boutique{
    height: 300px;
}
/*.am-gallery, .am-gallery-bordered > li {
    border-bottom: 1px solid #eee;
    margin-bottom: 8px;
}*/
.am-gallery, .am-gallery-bordered > li:last-child{
    border-bottom: none;
    margin-bottom: 0;
}
.am-gallery, .am-gallery-bordered > li:first-child{
   padding-top: 5px;
}
.title-six{
    display: inline-block;
    width: 100%;
    margin: 10px 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}